<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex, nofollow" />
		<!--icon-->
		<link
			rel="shortcut icon"
			href="https://college-builder--static.s3.amazonaws.com/assets/images/icon/icon.png"
			type="image/x-icon"
		/>

		<!--title-->
		<title>College Builder | Not Found</title>

		<!--fonts-->
		<!--Poppins-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!--styles-->
		<link
			rel="stylesheet"
            href="https://college-builder--static.s3.amazonaws.com/styles/index/index.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			href="https://college-builder--not-found-app--static.s3.amazonaws.com/styles/main/main.css"
			type="text/css"
			media="all"
		/>
	</head>
	<body>
		<main>
			<div>
				<div>
					<img src="https://college-builder--not-found-app--static.s3.amazonaws.com/assets/images/icon/icon.png" alt="Universidade de Sorocaba Logo" />
					<h1>Página não Encontrada!</h1>
					<p>Você está acessando o site Collge Builder, uma plataforma desenvolvida por alunos para hospedar projetos de alunos da Universidade de Sorocaba. Visite nosso GitHub para ver projetos ou entre em contato para mais informações.</p>
					<a href="https://github.com/College-Builder" target="_blank">
						<i class="fa-brands fa-github"></i>
						Github
					</a>
				</div>
			</div>
		</main>
	</body>
</html>

